spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://127.0.0.1:5432/bm
    password: root
    username: root
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: Asia/Shanghai
  redis:
    host: 127.0.0.1
    password:
    port: 6379

mybatis-plus:
  mapper-locations: classpath*:/mapper/*.xml

#自定义配置参数
custom:
  token-expire-time-amount: 24
  token-expire-time-unit: hours